/*!* CSS declarations go here *!*/

/*html {*/
    /*background: url("../images/paris-at-night-1.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*width: 100%;*/

    /*!*max-height: 100vh;*!*/
/*}*/

body {
    background: rgba(70, 72, 82, 0.3);
    min-height: 95vh;
}

.carousel {
    background: url("../images/Slide1.jpg") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 80vh;
    /*max-height: 100vh;*/
}

.card_menu {
    height: 130px !important;
    max-height: 130px !important;
    padding: 1rem !important;
    margin: 1rem !important;
}

.reset {
    margin-top: -1rem !important;
    padding-top: 1rem;
    margin-left: -2rem !important;
    margin-right: -2rem !important;
}

.transparent_nav {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
}

/*status cards*/
.stats_card_input {
    font-weight: 900 !important;
    font-size: 40px !important;
    color: white !important;
}

.stats_card_input img {
    height: 50px;
    width: 50px;
    float: right;
}

.mtn {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/MTN.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.airtel {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/Airtel.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.etisalat {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/Etisalat.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.glo {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/Glo.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.content_grid {
    margin-left: 20px;
    padding: 0px 1rem 20px 0px;
}

.appear-enter {
    transition-duration: .7s;
    transition-property: opacity;
    transition-timing-function: ease-out;
    opacity: 0;
}

.appear-enter.appear-enter-active {
    opacity: 1;
}

.appear-leave {
    opacity: 0;
}






/*body {*/
    /*font-family: sans-serif;*/
    /*background-color: #315481;*/
    /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
    /*background-attachment: fixed;*/

    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/

    /*padding: 0;*/
    /*margin: 0;*/

    /*font-size: 14px;*/
/*}*/

/*.container {*/
    /*max-width: 600px;*/
    /*margin: 0 auto;*/
    /*min-height: 100%;*/
    /*background: white;*/
/*}*/

/*header {*/
    /*background: #d2edf4;*/
    /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
    /*padding: 20px 15px 15px 15px;*/
    /*position: relative;*/
/*}*/

/*#login-buttons {*/
    /*display: block;*/
/*}*/

/*h1 {*/
    /*font-size: 1.5em;*/
    /*margin: 0;*/
    /*margin-bottom: 10px;*/
    /*display: inline-block;*/
    /*margin-right: 1em;*/
/*}*/

/*form {*/
    /*margin-top: 10px;*/
    /*margin-bottom: -10px;*/
    /*position: relative;*/
/*}*/

/*.new-task input {*/
    /*box-sizing: border-box;*/
    /*padding: 10px 0;*/
    /*background: transparent;*/
    /*border: none;*/
    /*width: 100%;*/
    /*padding-right: 80px;*/
    /*font-size: 1em;*/
/*}*/

/*.new-task input:focus{*/
    /*outline: 0;*/
/*}*/

/*ul {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*background: white;*/
/*}*/

/*.delete {*/
    /*float: right;*/
    /*font-weight: bold;*/
    /*background: none;*/
    /*font-size: 1em;*/
    /*border: none;*/
    /*position: relative;*/
/*}*/

/*li {*/
    /*position: relative;*/
    /*list-style: none;*/
    /*padding: 15px;*/
    /*border-bottom: #eee solid 1px;*/
/*}*/

/*li .text {*/
    /*margin-left: 10px;*/
/*}*/

/*li.checked {*/
    /*color: #888;*/
/*}*/

/*li.checked .text {*/
    /*text-decoration: line-through;*/
/*}*/

/*li.private {*/
    /*background: #eee;*/
    /*border-color: #ddd;*/
/*}*/

/*header .hide-completed {*/
    /*float: right;*/
/*}*/

/*.toggle-private {*/
    /*margin-left: 5px;*/
/*}*/

/*@media (max-width: 600px) {*/
    /*li {*/
        /*padding: 12px 15px;*/
    /*}*/

    /*.search {*/
        /*width: 150px;*/
        /*clear: both;*/
    /*}*/

    /*.new-task input {*/
        /*padding-bottom: 5px;*/
    /*}*/
/*}*/