/** {*/
    /*box-sizing: border-box;*/
/*}*/

html {
    background: url("../images/paris-at-night-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    /*max-height: 100vh;*/
}

body {
    background: rgba(70, 72, 82, 0.3);
    min-height: 95vh;
    /*margin-top: -1rem !important;*/
    /*padding-top: 1rem;*/
}

.carousel {
    background: url("../images/Slide1.jpg") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 80vh;
    /*max-height: 100vh;*/
}

/*html, body {*/
    /*!* set body and html to position:fixed;, and then set right:, left:, top:, and bottom: to 0;.*/
    /*That way, even if content overflows it will not extend past the limits of the viewport.*!*/
    /*position: fixed;*/
    /*top:0;*/
    /*bottom:0;*/
    /*left:0;*/
    /*right:0;*/
/*}*/

/*html, body {*/
    /*!* set body and html to position:fixed;, and then set right:, left:, top:, and bottom: to 0;.*/
    /*That way, even if content overflows it will not extend past the limits of the viewport.*!*/
    /*height: 95vh;*/
    /*min-height: 95vh;*/
    /*!*max-height: 95%;*!*/
    /*width: 100%;*/
    /*min-width: 100%;*/
    /*max-width: 100%;*/
/*}*/

.card_menu {
    height: 130px !important;
    max-height: 130px !important;
    padding: 1rem !important;
    margin: 1rem !important;
}

.reset {
    margin-top: -1rem !important;
    padding-top: 1rem;
    margin-left: -2rem !important;
    margin-right: -2rem !important;
}

.transparent_nav {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
}

/*status cards*/
.stats_card_input {
    font-weight: 900 !important;
    font-size: 40px !important;
    color: white !important;
}

.stats_card_input img {
    height: 50px;
    width: 50px;
    float: right;
}

.mtn {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/MTN.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

}

.airtel {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/Airtel.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.etisalat {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/Etisalat.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.glo {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    right: 1rem;
    background: url("../images/Glo.jpg") no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.content_grid {
    margin-left: 20px;
    padding: 0px 1rem 20px 0px;
}

.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

/*!*REACT SLICK*!*/
/*.variable-width .slick-slide p {*/
    /*background: $primary-color;*/
    /*height: 100px;*/
    /*color: #fff;*/
    /*margin: 5px;*/
    /*line-height: 100px;*/
    /*text-align: center;*/
/*}*/
/*.center .slick-center h3 {*/
    /*color: #e67e22;*/
    /*opacity: 1;*/
    /*transform: scale(1.08);*/
/*}*/
/*.center h3{*/
    /*opacity: 0.8;*/
    /*transition: all 300ms ease;*/
/*}*/
/*.content {*/
    /*padding: 20px;*/
    /*margin: auto;*/
    /*width: 90%;*/
/*}*/
/*.slick-slide .image {*/
    /*padding: 10px;*/
/*}*/
/*.slick-slide img {*/
    /*border: 5px solid #FFF;*/
    /*display: block;*/
    /*margin: auto;*/
/*}*/
/*.slick-slide img.slick-loading {*/
    /*border: 0*/
/*}*/
/*.slick-slider {*/
    /*margin: 30px auto 50px;*/
/*}*/
/*.slick-dots {*/
    /*margin-left: 0;*/
/*}*/